body{
    margin: 0;
    padding: 0;
    background-image: url("/assets/img/farmland.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}

  body {
    width: 98vw;
    height: 98vh;
  }