.right-side-links{
    display: flexbox;
    float: right;
}

a{
    margin-left: 50px;
}

p{
    margin-left: 50px;
}

.toolbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-center{
    display: flex;
    align-items: center;
    justify-content: center;
}